.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  .container-content {
    width: 100%;
    max-width: 720px;
  }
}
