<mat-toolbar class="toolbarCor">
  <button title="Recolher Menu" mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
   <div class="container">
    <img src="images/logo01.png" alt="Logo" title="">
    <span title="Usuário logado" class="texto-direita">{{usuarioLogado()}}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" class="toolbarCor" >
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>


