mat-toolbar {
  position: relative;
  z-index: 5;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .texto-direita {
    margin-left:auto;
    position:absolute;
    right: 20px;
    font-size: 16px;
  }

}

.toolbarCor {
  background-color: rgba(#00f7ff, 1.0); // 90% de transparencia  rgba(#008000, 1.0);
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}
