mat-toolbar {
  position: relative;
  z-index: 5;

  > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

}

.toolbarCor {
  background-color: rgba(#00f7ff, 1.0); // 90% de transparencia  rgba(#008000, 1.0);
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}
