$corAzul: #008000;

mat-toolbar {
  position: relative;
  z-index: 5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toolbarCor {
  background-color: rgba($corAzul, 1.0); // 90% de transparencia
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}
