<h2 mat-dialog-title>Cadastrar Tipos de Lançamento</h2>

<mat-dialog-content>
  <form [formGroup]="form" style="padding-top: 10px;">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo de Lançamento</mat-label>
      <input matInput formControlName="dsTipoLancamento">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Valor</mat-label>
      <input
        matInput
        placeholder="R$ 0,00"
        formControlName="vlTipoLancamento"
        appMoedaBr >
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline" class="flex-1">
        <mat-label>Conta Contábil</mat-label>
        <mat-select formControlName="planoContasId">
          <mat-option [value]="null">Selecione uma conta</mat-option>
          @for (plano of planoContas(); track plano.id) {
          <mat-option [value]="plano.id">
            {{ plano.dsConta }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="flex-1">
        <mat-label>Convenção</mat-label>
        <mat-select formControlName="convencaoId">
          <mat-option [value]="null">Selecione uma convenção</mat-option>
          @for (convencao of convencaos(); track convencao.id) {
          <mat-option [value]="convencao.id">
            {{ convencao.dsReduzido }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading()" (click)="onSave()">
    @if(isLoading()) {
    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
    } @else {
    Gravar
    }
  </button>
</mat-dialog-actions>
