<div class="header-container">
  <h2>Cadastro de Estados</h2>
  <button mat-raised-button color="primary" (click)="cadastrarEstado()">
    <mat-icon>add</mat-icon> Cadastrar Estado
  </button>
</div>

<div class="container mat-elevation-z4">
  <table mat-table [dataSource]="estados()">

    <ng-container matColumnDef="dsUf">
      <th mat-header-cell *matHeaderCellDef> UF </th>
      <td mat-cell *matCellDef="let element"> {{element.dsUf}} </td>
    </ng-container>

    <ng-container matColumnDef="dsNome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.dsNome}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editar(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluir(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
