<h2 mat-dialog-title>Alterar Escolaridade</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="grid-form">

    <mat-form-field appearance="outline">
      <mat-label>Escolaridade</mat-label>
      <input matInput formControlName="dsDescricao">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">Salvar</button>
</mat-dialog-actions>
