<h2 mat-dialog-title>Detalhes da Convenção: {{ data.dsReduzido }}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="detalhe-grid">
        <p><strong>Nome Completo:</strong> {{ data.dsConvencao }}</p>
        <p><strong>CNPJ:</strong> {{ data.dsCnpj }}</p>
        <p><strong>E-mail:</strong> {{ data.dsEmail }}</p>
        <p><strong>Telefones:</strong> {{ data.dsTelefones }}</p>
        <p><strong>WhatsApp:</strong> {{ data.dsWatsapp }}</p>
        <hr>
        <p><strong>Endereço:</strong> {{ data.dsEndereco }}</p>
        <p><strong>Bairro:</strong> {{ data.dsBairro }} - <strong>Cidade:</strong> {{ data.dsCidade }}</p>
        <p><strong>Estado:</strong> {{ data.estado.dsUf }} - <strong>CEP:</strong> {{ data.dsCep }}</p>
        <p><strong>País:</strong> {{ data.dsPais }}</p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close color="primary">Fechar</button>
    </mat-dialog-actions>
