<header>
  <mat-toolbar class="toolbar">
    <button class="toolbar-button" mat-icon-button (click)="toggleSidenavCollapsed()" [title]="titleText()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo-container">
      <a routerLink="/" class="logo-link" title="Voltar ä tela inicial">
        <img src="images/logo03.png" alt="Logo">
        <span class="logo-text">CONFRATERES</span>
      </a>
    </div>

    <span class="spacer"></span>

    <div class="user-info">
      @if (isLoggedIn()) {
        <span class="toolbar-username">{{ usuarioLogado() }}</span>
      }
        <button mat-flat-button class="toolbar-logout" (click)="logout()" title="Sair da aplicação">Sair</button>
      </div>
  </mat-toolbar>
</header>
