
.mat-mdc-list-item {
  color: blue; /* Cor do do icone ao passar o mouse */
}

/* Alterar cor ao passar o mouse (hover) */
.mat-mdc-list-item:hover {
  background-color: lightblue !important;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: var(--primary-color);
  background: rgba(0, 0, 0, 0.05);
}

.indented {
  --mat-list-list-item-leading-icon-start-space: 48px;
}
