<h2 mat-dialog-title>Alterar Departamento</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="grid-form">

    <mat-form-field appearance="outline">
      <mat-label>Nome Reduzido</mat-label>
      <input matInput formControlName="dsReduzido">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" style="grid-column: span 2;">
      <mat-label>Nome do Departamento</mat-label>
      <input matInput formControlName="dsDepartamento">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Convenção</mat-label>
      <mat-select formControlName="convencao" [compareWith]="compararConvencao">
        <mat-option [value]="null">Selecione uma Convenção</mat-option>
        @for (convencao of convencaos(); track convencao.id) {
        <mat-option [value]="convencao">{{ convencao.dsReduzido }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || isLoading()" (click)="onSave()">
    @if(isLoading()) {
    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
      Salvar
    } @else {
    Salvar
    }
  </button>
</mat-dialog-actions>
